/* Move down content because we have a fixed navbar that is 50px tall */
body {
    padding-top: 50px;
    padding-bottom: 0;
}

.jumbotron {
    background-image: url("man.jpg");
    background-size: cover;
    padding: 15% 0;
    background-position: center ;
}
.block_form {
    background-color: rgba(155,155,155,0.5) ;
}
form {
    
}

footer {
    margin-top: 50px;
    background-color: #000000;
    color: darkgray;
}
